.myProfileSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.listHeader {
  margin-bottom: 0.5rem;
}

@media (min-width: 38rem) {
  .myProfileSection {
    padding: 3rem 2rem;
    flex-direction: row;
  }

  .listHeader {
    font-size: 1.25rem;
  }

  .listWrapper {
    width: 50%;
  }
}
